@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #191C1F;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__logo {
  background-color: rgba(31, 35, 39, 0.7333333333);
  display: inline-block;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

.header__logo img {
  max-width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6.875rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.main-block {
  position: relative;
}

.main-block__content {
  position: relative;
  z-index: 5;
  max-width: 46.625rem;
}

.main-block__subtitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.11;
  /* 20/18 */
  text-transform: uppercase;
}

.main-block__subtitle:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.main-block__title {
  font-weight: 700;
  line-height: 1.17;
  /* 75/64 */
  text-transform: uppercase;
}

.main-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main-block__text {
  font-size: 1.5rem;
  line-height: 1.25;
  /* 30/24 */
}

.main-block__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  font-weight: 700;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
  background-color: #E11B19;
  border-radius: 40px;
  padding: 1.25rem 1.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.main-block__button::after {
  content: "";
  background: url("../img/main/main-block/button.svg") 0 0/100% no-repeat;
  height: 1.25rem;
  width: 1.25rem;
  top: 0;
  left: 0;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6875rem;
  padding-top: 3.6875rem;
  padding-bottom: 4.4375rem;
}

.aside-block__image {
  min-width: 16.0625rem;
}

.aside-block__image img {
  max-width: 100%;
}

.facilities-block {
  background-color: #1F2327;
}

.facilities-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.6875rem;
}

.facilities-block__image {
  max-width: 33.75rem;
}

.facilities-block__image img {
  max-width: 100%;
}

.facilities-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facilities-block__subtitle {
  font-weight: 700;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
}

.facilities-block__subtitle:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.facilities-block__title {
  max-width: 18.75rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11;
  /* 40/36 */
  text-transform: uppercase;
}

.facilities-block__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.facilities-block__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.facilities-block__item::before {
  content: "";
  background: url("../img/main/facilities-block/checkbox.svg") 0 5px no-repeat;
  left: 0;
  top: 0;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
}

.facilities-block__link {
  padding-left: 0.9375rem;
  font-weight: 700;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
}

.media-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  gap: 1.25rem;
}

.media-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.media-block__subtitle {
  font-weight: 700;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
}

.media-block__subtitle:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.media-block__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11;
  /* 40/36 */
  text-transform: uppercase;
}

.media-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.media-block__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.38;
  /* 25/18 */
  max-width: 28.125rem;
}

.media-block__image {
  max-width: 33.75rem;
}

.media-block__image img {
  max-width: 100%;
}

.banner-block {
  position: relative;
}

.banner-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  max-width: 46.625rem;
  position: relative;
  z-index: 5;
}

.banner-block__subtitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.11;
  /* 20/18 */
  text-transform: uppercase;
}

.banner-block__subtitle:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.banner-block__title {
  font-weight: 700;
  line-height: 1.17;
  /* 75/64 */
  text-transform: uppercase;
}

.banner-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.banner-block__text {
  line-height: 1.25;
  /* 30/24 */
}

.banner-block__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.banner-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  font-weight: 700;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
  background-color: #E11B19;
  border-radius: 40px;
  padding: 1.25rem 1.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.banner-block__button::after {
  content: "";
  background: url("../img/main/banner-block/button.svg") 0 0/100% no-repeat;
  height: 1.25rem;
  width: 1.25rem;
  top: 0;
  left: 0;
}

.banner-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 71.25em) {
  .header__container {
    padding-top: 1.875rem;
  }

  .header__container {
    padding-bottom: 1.875rem;
  }

  .main-block__container {
    padding-top: 11.4375rem;
  }

  .main-block__container {
    padding-bottom: 11.375rem;
  }

  .main-block__title {
    font-size: 4rem;
  }

  .facilities-block__container {
    padding-top: 10.25rem;
  }

  .facilities-block__container {
    padding-bottom: 3.75rem;
  }

  .media-block__container {
    padding-top: 7.5rem;
  }

  .banner-block__container {
    padding-top: 4.6875rem;
  }

  .banner-block__container {
    padding-bottom: 5rem;
  }

  .banner-block__title {
    font-size: 4rem;
  }

  .banner-block__text {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 0.9375rem;
  }

  .header__container {
    padding-bottom: 0.9375rem;
  }

  .main-block__container {
    padding-top: 4.375rem;
  }

  .main-block__container {
    padding-bottom: 3.125rem;
  }

  .main-block__title {
    font-size: 2.5rem;
  }

  .facilities-block__container {
    padding-top: 3.125rem;
  }

  .facilities-block__container {
    padding-bottom: 3.125rem;
  }

  .media-block__container {
    padding-top: 3.125rem;
  }

  .banner-block__container {
    padding-top: 3.125rem;
  }

  .banner-block__container {
    padding-bottom: 2.5rem;
  }

  .banner-block__title {
    font-size: 2.5rem;
  }

  .banner-block__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 53.75em) {
  .facilities-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 43.75em) {
  .media-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 37.5em) {
  .aside-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header__container {
      padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header__container {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header__container {
      padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header__container {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 4.375rem , 1.618902439rem  +  13.7804878049vw , 11.4375rem )) {
    .main-block__container {
      padding-top: clamp( 4.375rem , 1.618902439rem  +  13.7804878049vw , 11.4375rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 1.618902439rem  +  13.7804878049vw , 11.4375rem )) {
    .main-block__container {
      padding-top: calc(4.375rem + 7.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -0.0945121951rem  +  16.0975609756vw , 11.375rem )) {
    .main-block__container {
      padding-bottom: clamp( 3.125rem , -0.0945121951rem  +  16.0975609756vw , 11.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -0.0945121951rem  +  16.0975609756vw , 11.375rem )) {
    .main-block__container {
      padding-bottom: calc(3.125rem + 8.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .main-block__title {
      font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .main-block__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.3445121951rem  +  13.9024390244vw , 10.25rem )) {
    .facilities-block__container {
      padding-top: clamp( 3.125rem , 0.3445121951rem  +  13.9024390244vw , 10.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.3445121951rem  +  13.9024390244vw , 10.25rem )) {
    .facilities-block__container {
      padding-top: calc(3.125rem + 7.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
    .facilities-block__container {
      padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
    .facilities-block__container {
      padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
    .media-block__container {
      padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
    .media-block__container {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.5152439024rem  +  3.0487804878vw , 4.6875rem )) {
    .banner-block__container {
      padding-top: clamp( 3.125rem , 2.5152439024rem  +  3.0487804878vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.5152439024rem  +  3.0487804878vw , 4.6875rem )) {
    .banner-block__container {
      padding-top: calc(3.125rem + 1.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
    .banner-block__container {
      padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
    .banner-block__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .banner-block__title {
      font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .banner-block__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
    .banner-block__text {
      font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
    .banner-block__text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .main-block__subtitle:hover {
    text-decoration: underline;
  }

  .main-block__button:hover {
    background-color: #aa1512;
  }

  .facilities-block__subtitle:hover {
    text-decoration: underline;
  }

  .facilities-block__link:hover {
    text-decoration: underline;
  }

  .media-block__subtitle:hover {
    text-decoration: underline;
  }

  .banner-block__subtitle:hover {
    text-decoration: underline;
  }

  .banner-block__button:hover {
    background-color: #aa1512;
  }
}